/**
 * Override based on last imported
 **/

.login-pf body {
  background: no-repeat center center fixed;
  background-color: #6e43e8;
  height: 100%;
}

#kc-logo-wrapper,
div.kc-logo-text {
  background-image: url("./logo.png");
}

.card-pf {
  border-top-color: transparent;
}
