.login-pf body {
  background: no-repeat center center fixed !important;
  background-color: #6E43E8 !important;
  height: 125vh !important;
}

#kc-logo-wrapper {
  background-image: url(../../../assets/pomerium/img/logo-text-125x57.png) !important;
}

div.kc-logo-text {
  background-image: url(../../../assets/pomerium/img/logo-text-white-300x63.png) !important;
}
