/**
 * Override based on last imported
 **/

.login-pf body {
  background: no-repeat center center fixed;
  background-color: #6E43E8;
  height: 100%;
}

#kc-logo-wrapper, div.kc-logo-text {
  background-image: url("./img/logo.png");
}

.card-pf {
  border-top-color: transparent;
}
