/**
 * Override based on last imported
 **/

.login-pf body {
  background: no-repeat center center fixed;
  background-color: rgba(19, 155, 180, 1);
  height: 100%;
}

.login-pf-page .login-pf-page-header {
  margin-bottom: 10px;
}

#kc-logo-wrapper, div.kc-logo-text {
  background-image: url("../../../../assets/spinnaker/img/banner.png");
}

div.kc-logo-text {
  background-size: 250px 90px;
  height: 100px;
}

.card-pf {
  border-top-color: transparent;
}
