/**
 * Override based on last imported
 **/

.login-pf body {
  background: url("../../../../assets/default/img/keycloak-bg.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

#kc-logo-wrapper {
  background-image: url(../../../../assets//default/img/keycloak-logo.png);
  background-repeat: no-repeat;
  height: 63px;
  width: 300px;
  margin: 62px auto 0;
}

div.kc-logo-text {
  background-image: url(../../../../assets//default/img/keycloak-logo-text.png);
  background-repeat: no-repeat;
  height: 63px;
  width: 300px;
  margin: 0 auto;
}
