/**
 * Override based on last imported
 **/

.login-pf body {
  background: no-repeat center center fixed;
  background-color: #fafafa;
  height: 100%;
}

.card-pf {
  border-top-color: transparent;
}
